body {
    height: 100vh;
}
.authForm {
    display: table;
    height: 300px;
    margin:0 auto;
    border: 1px solid grey;
}
.form {
    display: table-cell;
    vertical-align: middle;
   padding: 5px;
   width: 600px
}
.form #spinner {
    color: #43a047;
    margin-left: 20px;
}