body {
    height: 100vh;
}
.auth >img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.authForm {
    display: table;
    height: 300px;
    margin:0 auto;
}
.form {
    display: table-cell;
    vertical-align: middle;
   padding: 5px;
   width: 500px
}
.form input {
    -moz-box-shadow: 5px 5px 5px 5px #777777;
    -webkit-box-shadow: 5px 5px 5px 5px #777777;
    box-shadow: 5px 5px 5px 5px #777777;
    border: 1px solid green;
}