.App {
    padding: 5px;
    height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  background: #424242;
  margin-top: auto;
  color: #ccc;
  font-size: 14px
}
.footer div {
  text-align: center;
}
.footer span {
  color: #e25555;
  font-size: 25px;
}

.about-container {
  padding: 10px;
  font-family: serif, sans-serif;
  font-size: 18px;
  text-align: justify
}

.spinner  {
  text-align: center
}

div.buttons {
  padding-left: 20px;
  padding-bottom: 5px;
}
.social-share > ul > li {
  display: inline-block;
  list-style-type: none;
  cursor: pointer;
}
