.App {
    padding: 5px;
    height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  background: #424242;
  margin-top: auto;
  color: #ccc;
}
.footer div {
  text-align: center;
}
.footer span {
  color: #e25555;
  font-size: 25px;
}
div.DraftEditor-root {
  width:inherit;
  height: 210px;
  border: 1px solid #ccc;
  padding:20px;
  font-size: 15px;
  font-family: 'calibri', sans-serif;
  overflow-y: scroll;
}
.about-container {
  padding: 10px;
}

/*div.DraftEditor-editorContainer {
  margin-top:1px;
}*/

div.buttons {
  padding-left: 20px;
  padding-bottom: 5px;
}
