.profile-container {
    padding: 40px;
}
@media (min-width: 1025px) and (max-width: 1280px){
    .profile-image {
        padding: 40px
    }
}
.profile-image > img {
    border: 1px solid #ccc;
    border-radius: 70%;
    width: inherit;
    margin: auto;
}
.profile-image > input {
    visibility: hidden;
}
.profile-image .edit-profile-btn {
   margin: 10px;
   margin-left: 60px
}