.profile-container {
    padding: 40px;
}
@media (min-width: 1025px) and (max-width: 1280px){
    .profile-image {
        padding: 40px
    }
}
.profile-details > img {
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-left: 35px;
}
.profile-details  input {
    display: none
}
.profile-details .edit-profile-btn {
   margin: 10px;
   margin-left: 65px
}
.profile-details #spinner {
    margin-left: 40px;
    color: #43a047
}