[post-btn] {
  position: fixed;
  bottom: 20px;
}
.comment-container {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 25px auto 30px;
}
@media screen and (min-width: 760px){
  .comment-container{
    grid-template-columns: 7% 80%
  }
}
.author-image{
  grid-column: 1 / 2;
}
.author-date {
  grid-column: 2/ 4;
}
.text {
  grid-column: 2 / 4;
}
.like-reply {
  grid-column: 2 / 3;
  grid-row-start: 3;
  padding: 5px
}
.comment-replies {
  grid-column: 2 / 4;
  grid-row-start: 4;
}
.post-author {
  padding: 10px;
}
.post-author > span > img, .author-image > img {
  border-radius: 50%;
  width: 50px;
}
.post-comment {
  display: inline-block;
  border: 1px solid #ccc;
  width: 100%
}
.post-picture > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;;
  height: 15%;
}
.post-content span, .like-reply span {
cursor: pointer;
}
.like-reply span.is-liked > img {
  border: 10px, solid greenyellow;
}
.post-author span > img, .post-author > img {
  width: 50px;
  height: 50px;
  border-radius: 100%
}
.editor img {
  width: 40px;
  height: 40px;
}
.post-content div.DraftEditor-root {
  padding:5px;
  font-size: 18px;
  font-family: 'serif', sans-serif;
  text-align: justify;
}
.react-bar , .like-reply {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}
.author-date >  .author *{
  color: grey;
  text-decoration: underline
}